<%- include('../_layout/header') %>
<link rel="stylesheet" href="/css/style.css"> 
    <h1>Profil</h1>
    <p>Vítejte na svém profilu, <b><%= username %>!</b></p>
    <a href="/user/signout">Odhlásit se</a> <a href="">Smazat Účet</a>
<%- include('../_layout/footer') %>
