<%- include('../_layout/header') %>
<!DOCTYPE html>
<html>
  <head>
    <title>JavaScript</title>
    <link rel="stylesheet" href="/css/style.css"> 
  </head>
  <body>
    <div id="container">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci at repudiandae qui ab ea nesciunt dolorem doloremque placeat, quam in obcaecati optio provident repellat aspernatur alias, voluptatibus atque impedit tempore?</p>
      <p>Cumque obcaecati temporibus cupiditate! Eius culpa est minus? Quae temporibus sit consectetur, tempore vitae magni laudantium molestiae? Voluptate necessitatibus, harum, in reprehenderit impedit libero cumque asperiores, deserunt veniam fuga veritatis!</p>
      <p>Perspiciatis repudiandae minima saepe sed iste ipsa corrupti veniam facere modi soluta incidunt corporis doloremque aspernatur eius tempore reprehenderit ullam est amet id fuga, exercitationem, sint placeat? Omnis, commodi dolor.</p>
      <p>Ullam repellat mollitia expedita cum rerum voluptate. Veniam, neque, commodi nesciunt quidem quo earum natus quia at ullam error corrupti voluptatibus consectetur sed ut obcaecati quae exercitationem quas iure libero!</p>
      <p>Inventore voluptas amet expedita corrupti laudantium consequuntur totam, nulla quibusdam adipisci possimus ut tenetur fugiat sunt, ratione minus voluptates vitae eligendi ex animi provident illum, dolore ab labore. Commodi, ab?</p>
    </div>
  </body>
</html>
<%- include('../_layout/footer') %>
